*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    padding: 10rem 9% 2rem;
}

/* általános margin-törlést a szakaszok között */
section + section {
    margin-top: 0;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.home-img img{
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0%{
        transform: translateY(0)
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color:var(--main-color)
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.contact-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 5rem;
    color: var(--main-color);
    margin: 3rem 5.5rem 3rem 0;
    transition: .5s ease;
    animation: floatImage 4s ease-in-out infinite;
}

.social-media a:hover{
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
} 

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: var(--main-bg-color);
    min-height: 100vh;
}

.about-img img{
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    padding: 10px
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.Rating h2{
    margin-bottom: 1rem;
}

.Rating{
    flex: 1 1 30rem;
    background: var(--main-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    min-height: 100vh;
}

.Rating-container .Rating-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.Rating-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.Rating-box h3{
    font-size: 2.6rem;
}

.Rating-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portfolio{
    background: var(--main-bg-color);
    min-height: 100vh;
}

.portfolio h2{
    margin-bottom: 4rem;
}

.contact h2{
    margin-bottom: 3rem;
}

.contact{
    min-height: 100vh;
}

.contact-content {
    display: flex;
    flex-direction: row; /* Sorba rendezés */
    justify-content: center; /* Középre igazítás vízszintesen */
    flex-wrap: wrap; /* Gombok átrendezése, ha nem férnek ki egy sorban */
    gap: 10px; /* Gombok közötti távolság */
    padding-left: 50px;
}

.contact-content .btn {
    margin: 10px; /* Egyenlő távolságok a gombok körül */
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: linear-gradient(to right, var(--bg-color), var(--second-bg-color)); /* Gradient colors */
    margin-top: 0; /* Győződj meg róla, hogy nincs margin a footer tetején */
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header {
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .Rating {
        padding-bottom: 7rem;
    }

    .portfolio{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70wv;
        margin-top: 1rem;
    }

    .Rating h2{
        margin-bottom: 3rem;
    }

    .portfolio h2{
        margin-bottom: 3rem;
    }

    .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }
}

@media (max-width: 365px){
    .home-img img{
        width: 90vw;
    }

    .about-img img{
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}

.portfolio-filters {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.portfolio-description {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
    text-shadow: white 1px 0 10px;
}

#portfolioVideo {
    border-radius: 10   px; /* Állítsd be a kívánt értéket a kerekítés mértékére */
    overflow: hidden; /* Eltünteti a lekerekített részeken kívüli tartalmat */
}


.card {
    background:rgba(0, 0, 0, .2);
    border-radius: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.7s;
    width: 300px;
    height: 500px;
    /*3d transform */
    position: relative; /* Az abszolút pozicionálás miatt szükséges */
    perspective: 1000px; /* Elmélyíti a 3D-s hatást */
    z-index: 100; /* A card elemet nagyobb szinten kivíváthatjük */
}

.card-content {
    padding: 30px;
    padding-right: 8px;
    text-align: center;
    /* 3D transzformáció */
    transition: transform 0.2s ease;
    transform-style: preserve-3d;
}

.cards-container {
    display: flex;
    gap: 50px;
    perspective: 1000px; /* 3D hatás beállítása */
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Glow animáció */
@keyframes glow {
    0% { 
        text-shadow: 0 0 5px red;
    }
    25% {
        text-shadow: 0 0 10px orange;
    }
    50% {
        text-shadow: 0 0 15px yellow;
    }
    75% {
        text-shadow: 0 0 20px green;
    }
    100% {
        text-shadow: 0 0 25px blue;
    }
}

.card:hover {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5); /* Extra fényhatás */
    transform: rotateY(1deg) scale(1.05); /* Forgatás és kicsinyítés */
}

/*.card:hover .card-title {
    animation: glow 10.5s infinite;
}*/

.card-image {
    max-width: 30%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-description {
    list-style-type: none; /* Alapértelmezett lista pont eltávolítása */
    padding: 0px;
    margin: 50px 0; /* Kicsit több hely a leírás körül */
    text-align: center; /* Balra igazítás */
}

.card-description li {
    margin-bottom: 8px; /* Kisebb hely minden sor között */
    font-size: 17px;
    color: #555;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
}

.card-price {
    font-size: 18px;
    font-weight: bold;
    color: #e67e22;
}

.card-price-caution{
    margin-top: 12px; /* Kisebb hely minden sor között */
    font-size: 15px;
    color: white;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;   
    opacity: 10%;
    justify-content: center;
    align-items: center;
}

#card-image3{
    max-width: 50%;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.nav-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer; /* Itt javítva */
    font-size: 15px;
    position: relative;
}

/* Hover stílus */
.nav-btn:hover {
    color: var(--main-color);
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.3s;
}


.prev-video video, .next-video video {
    width: 100px; /* A kisebb videók mérete */
    filter: blur(2px); /* Homályosság hozzáadása */
    opacity: 0.6;
    transition: transform 0.3s;
    margin: 0 10px;

    display: flex;
    align-items: center;
    position: relative;
    right: 0;
}

.filter-btn.active {
    font-weight: bold;
    color: #007BFF; /* Változtathatod a színt a kívánt kiemeléshez */
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.3s;
    position: 50%;
    transform: translateY(-10px); /* Emeli a címet felfelé */
}

.filter-btn {
    padding: 0.8rem 1.6rem;
    background: var(--second-bg-color);
    color: var(--text-color);
    border-radius: 10rem;
    border: .1rem solid var(--bg-color);
    cursor: pointer;
    transition: .3s ease;
}

.filter-btn:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
}

#particles-js {
    position: fixed; /* Az egész oldalra rögzítve */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Mögé helyezi a tartalmaknak */
    pointer-events: none; /* Nem zavarja a felhasználói interakciókat */
}

.separator-gradient {
    border: 0;
    height: 4px;
    background: linear-gradient(to right, var(--bg-color), var(--second-bg-color)); /* Gradient colors */
    margin: 40px 0;
    border-radius: 2px; /* Optional: round the edges */
}
  